<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<div class="container">
	<div class="row">
		<h2 class="text-danger mb-2">Erros de Integração</h2>
		
		
		<table class="table table-bordered success mt-3">
      <thead>
        <tr>
            <th>Id </th>
            <th>Pedido</th>
            <th>Erro</th>
            <th>Data</th>       
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of articles">
            <td>{{a.id}}</td>
            <td>{{a.order}}</td>
            <td>{{a.error}}</td>  
            <td>{{a.dateError}}</td>  
            <td>
                <button class="btn btn-primary">
                    Reprocessar
            </button>
        </td>    
        </tr>
    </tbody>
			</table>
	</div>
</div>